body {

}

.main-container {
  display: flex;
  flex-direction: column;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-section {
  display: flex;
  flex-direction: row;
}

.sections {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.main-section-output-title {
  display: flex;
  flex-direction: column;
}

.main-section-output-produce {
  display: flex;
  flex-direction: column;
}

.main-section-output-produce-title {
  display: flex;
  flex-direction: row;
}

.item-names {
  flex-grow: 1;
}

.item-price {
  /*margin: 0 0%;*/
}

.add-to-cart-btn {
  align-self: center;
  height: 2em;
  margin: 0 3% 0 15%;
}

.section-titles {
  font-style: italic;
}

.main-section-output-produce-details {
  display: flex;
  flex-direction: column;
}

.main-section-output-produce-details-items {
  display: flex;
  flex-direction: row;
}
